<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depromeet.tifyapi.mapper.TagMapper">
    <resultMap id="resultMap" type="com.depromeet.tifyapi.model.Tag">
        <result column="tag_id" property="tagId" />
        <result column="name" property="name" />
    </resultMap>
    <select id="findOne" resultMap="resultMap" parameterType="int">
        SELECT * FROM `tag` WHERE tag_id = #{tagId}
    </select>
    <select id="findAll" resultMap="resultMap">
        SELECT * FROM `tag`
    </select>
    <insert id="createTag" parameterType="com.depromeet.tifyapi.model.Tag">
        INSERT INTO `tag`
        SET
        name=#{tag.name}
    </insert>
    <select id="findTagsByPostId" resultMap="resultMap" parameterType="int">
        SELECT t.tag_id, t.name
        FROM (SELECT tag_id FROM description where post_id = #{postId}) a
        join tag t on a.tag_id = t.tag_id;
    </select>
    <select id="findTagByName" resultMap="resultMap">
        SELECT *
        FROM `tag`
        WHERE tag.name = #{name}
    </select>
    <select id="findTagsIncludingName" resultMap="resultMap">
        SELECT *
        FROM `tag`
        WHERE tag.name LIKE CONCAT('%',#{name},'%')
    </select>
</mapper>